<h1> Shopping List Helper</h1>
<form ng-submit="$ctrl.addItems($ctrl.newItem);">
    <input class="input-style" type="text" ng-model="$ctrl.newItem.product">
    <input class="input-style" type="number" ng-model="$ctrl.newItem.price">
    <input class="input-style" type="number" ng-model="$ctrl.newItem.quantity">
    <button>Add to List</button>
</form>


<section ng-repeat="item in $ctrl.listOfItems">
    <input type="text" class="update-input" ng-blur="$ctrl.updateItems(item)" ng-model="item.product">
    <input type="number" class="update-input" ng-blur="$ctrl.updateItems(item)" ng-model="item.price">
    <input type="number" class="update-input" ng-blur="$ctrl.updateItems(item)" ng-model="item.quantity">
    <button ng-click="$ctrl.deleteItem(item.id)">X</button>
</section>
   

